body {
  color: #fff;
  background-color: #0f1626;
}

/**Header***/
#header-nav {
  background-color: #f5f5f5;
  border-radius: 0;
  border: 0;
}

/*****Food,llc*****/
.navbar-brand h1 {
  font-family: 'Quicksand',sans-serif;
  color: #ff533d;
  text-align: left;
  font-size: 40px;
  text-shadow: -2px -2px 0 rgba(150,150,150,1);
  margin-top: 0;
  margin-bottom: 0;
  line-height: .6;
  margin-left: 0;
  clear: both;
  justify-content: center;
}

/*****End of Food,llc*****/
/*****Our Menu*****/
h2 {
  font-family: 'Pacifico',cursive;
  font-weight: 100;
}

/***** End of Our Menu*****/
.navbar-brand a:hover,.navbar-brand a:focus {
  text-decoration: none;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

#nav-list {
  margin-top: 10px;
}

#nav-list a {
  color: #0f1626;
  text-align: center;
}

#nav-list a:hover {
  background: #ff533d;
}

#nav-list a span {
  font-size: 1.9em;
}

.navbar-header button.navbar-toggle,.navbar-header .icon-bar {
  border: 1px solid #ff533d;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

#ch {
/*Chicken text */
  text-align: center;
  font-size: 30px;
  font-family: 'Quicksand',sans-serif;
}

#box1 {
  background-color: #ab987a;
  height: 800vw;
}

/* *****Media Queries***** */
/* ************Desktop devices only************* */
@media (min-width: 1200px) {
  #box1 {
    width: 80vw;
    margin: 2vw 8vw 8vw 10vw;
  }
}

/* ************Tablets only************* */
@media (min-width: 992px) and (max-width: 1199px) {
  #box1 {
    width: 80vw;
    margin: 2vw 8vw 8vw 10vw;
  }
}

/******** Mobiles devices ************/
@media (min-width: 768px) and (max-width: 991px) {
  #box1 {
    width: 80vw;
    margin: 2vw 8vw 8vw 10vw;
  }
}

/**************** Small Mobile devices *****************/
@media (max-width: 767px) {
  #box1 {
    width: 80vw;
    margin: 2vw 8vw 8vw 10vw;
  }
}

/* **Scroll Button** */
#return-to-top {
  position: fixed;
  z-index: 1;
  bottom: 20px;
  right: 20px;
  background: #000;
  background: rgba(0,0,0,0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

#return-to-top:hover {
  background: rgba(0,0,0,0.9);
}

#return-to-top:hover i {
  color: #fff;
  top: 5px;
}